<div class="background">
  <div
    class="hint"
    *ngFor="let hint of hints"
    [style.left.%]="hint.left"
    [style.top.%]="hint.top"
  >
    {{ hint.text }}
  </div>
</div>
<div class="step">
  <div class="wrap">
    <h1>嗨！這裡可以您幫助破解抽卡迷思!!</h1>
    <button mat-raised-button (click)="next(1)" color="primary">
      開始破解
    </button>
  </div>
</div>

<div *ngIf="step >= 1" class="step">
  <div class="wrap">
    <h1>第一步，先輸入抽卡所需要的費用吧！</h1>

    <div class="form">
      每單
      <mat-form-field class="cost">
        <input matInput type="number" min="1" [(ngModel)]="cost" />
      </mat-form-field>
      元，可以抽
      <mat-form-field class="quantity">
        <input
          matInput
          type="number"
          min="1"
          [(ngModel)]="quantity"
        /> </mat-form-field
      >次
    </div>

    <button mat-button (click)="next(2)" color="primary">下一步</button>
  </div>
</div>

<div *ngIf="step >= 2" class="step">
  <div class="wrap">
    <h1>獎品抽到的機率都是一樣的嗎？</h1>
    <br />
    <button mat-button (click)="sameProbability = true; next(3)">是</button>
    <button mat-button (click)="sameProbability = false; next(3)">否</button>
  </div>
</div>

<div *ngIf="step >= 3" class="step">
  <div class="wrap">
    <h1>接下來，輸入各項獎品的資訊吧！</h1>

    <div class="award-list">
      <div class="award" *ngFor="let award of awards; let index = index">
        <mat-checkbox
          [(ngModel)]="award.goal"
          value="true"
          color="primary"
          matTooltip="我婆"
        >
        </mat-checkbox>

        <mat-form-field floatLabel="always">
          <mat-label>名稱</mat-label>
          <input
            matInput
            [placeholder]="fakeNames[index % 151]"
            [(ngModel)]="award.name"
            type="text"
          />
        </mat-form-field>

        <mat-form-field class="probability" *ngIf="!sameProbability">
          <mat-label>機率</mat-label>
          <input
            matInput
            [(ngModel)]="award.probability"
            (ngModelChange)="onProbabilityChanged()"
            type="number"
            min="0"
            step="0.01"
          />
          <span matSuffix>%</span>
        </mat-form-field>

        <button mat-icon-button (click)="removeAward(award)" matTooltip="刪除">
          <mat-icon class="mat-18">remove</mat-icon>
        </button>
      </div>

      <div
        class="award other-award"
        *ngIf="!sameProbability && remainingProbability > 0"
      >
        <mat-form-field floatLabel="always">
          <mat-label>名稱</mat-label>
          <input matInput disabled value="其他" type="text" />
        </mat-form-field>

        <mat-form-field class="probability" *ngIf="!sameProbability">
          <mat-label>機率</mat-label>
          <input
            matInput
            [ngModel]="remainingProbability"
            type="number"
            disabled
            min="0"
          />
          <span matSuffix>%</span>
        </mat-form-field>
      </div>
    </div>

    <div [style.text-align]="'center'">
      <button mat-button (click)="addAward()">
        <mat-icon class="mat-18">add</mat-icon> 新增獎品
      </button>
      <button mat-button (click)="next(4); calculate()" color="primary">
        下一步
      </button>
    </div>
  </div>
</div>

<div *ngIf="step >= 4" class="step">
  <div class="wrap">
    <div class="log">
      <div *ngFor="let level of table">
        <ng-container *ngIf="level.probability">
          <span
            [matTooltip]="
              (level.probability * 100 | number: '0.2-2') + '% 的機率'
            "
          >
            {{ level.comment }}
          </span>
          ，要
          <span>
            {{ level.count }} 抽，共 {{ level.cost | number: "0.0-0" }} 元
          </span>
        </ng-container>
      </div>
    </div>

    <ng-container *ngIf="currentAchievementProbability >= 0.8">
      <ngx-charts-line-chart
        [view]="view"
        [scheme]="{ domain: ['#4051b5'] }"
        [gradient]="true"
        [animations]="true"
        [showXAxisLabel]="true"
        [showYAxisLabel]="true"
        [xAxis]="true"
        [yAxis]="true"
        xAxisLabel="抽卡次數"
        yAxisLabel="中獎率"
        [results]="results"
      >
        <ng-template #tooltipTemplate let-model="model">
          {{ model.name }} 抽時圓滿達成的機率 {{ model.value }}%
        </ng-template>
        <ng-template #seriesTooltipTemplate let-model="model">
          {{ model[0].name }} 抽時圓滿達成的機率 {{ model[0].value }}%
        </ng-template>
      </ngx-charts-line-chart>
    </ng-container>

    <ng-container *ngIf="currentAchievementProbability < 0.8">
      <mat-progress-bar
        mode="determinate"
        [value]="
          (currentAchievementProbability / targetAchievementProbability) * 100
        "
      >
      </mat-progress-bar>
      <div class="status">
        {{ currentCount }} 抽，花費
        {{ currentCost | number: "0.0-0" }}，圓滿機率
        {{ currentAchievementProbability * 100 | number: "0.2-2" }} %
      </div>
    </ng-container>
  </div>
</div>
